body{
    background: black;
}
.card{
    width: 80%;
    max-width: 470px;
    background: linear-gradient(120deg,#afdde0,#9d93e0);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #557;
    padding: 10px;
    height: 70px;
    border-radius: 31px;
    flex: 1;
    margin-right: 15px;
    font-size: 16px;
}
.search button{
    border: 0;
    outline: 0;
    background: #da948d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.weather-icon{
width: 140px;
margin-top: 20px;
}
.weather h1{
    font-size: 40px;
font-weight: 500;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;

justify-content: space-between;
padding:  0 20px;
margin-top: 40px;
}
.col-img{
width: 40px;

}